:root{
    --rSpacer: 2em;
}
a{ all:unset; }
a:hover{ cursor: pointer; }

body{
    background-color: black;
    color: lightgray;
    font-family: "Segoe UI Light", Arial, Helvetica, sans-serif;
    margin: 1em;
}

h3{
    color: aqua;
}

.nameTag{
    text-align: right;
    padding: .2em;
    color: white;
    font-weight: bold;
    top: 26em;
    position: relative;
    right: var(--rSpacer);

}
.navMnu{
    text-align: right;
    right: var(--rSpacer);
    position: relative;
    font-weight: bold;
}
.navMnu *
{
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
}
.navMnu li:hover{
    color: white;
    cursor: pointer;
}
.navMnu li:hover{
    transition: color 0.5s;
    color: yellow;

}
.card-header a{
    float: right;
}
.flexline{
    display: flex;
    justify-content: flex-end;
}
.flexline hr{
    width: 80%;
    margin: 0;
}
.card{
    border: 0;
}
.card-header{ background-color: transparent !important; }
.offcanvas-body{ padding: 0; }
.bgvCont{
    width: 100%;
    height: 21em;
    overflow: hidden;
}
.bgVid{
    margin: auto;
    width: 100%;
    z-index: -700;
    position: relative;
}
.bg-primary{
    color: white;
}